<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Reports -->
                <div id="report">
                </div>

                <!-- Recent Sales -->
                <div id="recentSales">
                </div>
                <!-- End Recent Sales -->
                <!-- Top Selling -->
                <div id="topSelling">
                </div>
                <!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->
        <!-- Right side columns -->

        <div class="col-lg-4">
            <!-- sales-card -->
            <div id="sales-card">
            </div>
            <!-- End Sales Card -->
            <!-- Revenue Card -->
            <div id="revenue-card">
            </div>
            <!-- End Revenue Card -->
            <!-- Customers Card -->
            <div id="customer-card">
            </div>
            <!-- End Customers Card -->

        </div><!-- End Right side columns -->

    </div>
</section>

@section Scripts{
    <script src="~/Appjs/Admin/DashBoard.js"></script>
}