@model reportCard;
@using System.Globalization
<div class="card info-card revenue-card">

    <div class="filter">
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
                <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" onclick="revenuecard('today')">Today</a></li>
            <li><a class="dropdown-item" onclick="revenuecard('this_month')">This Month</a></li>
            <li><a class="dropdown-item" onclick="revenuecard('this_year')">This Year</a></li>
        </ul>
    </div>

    <div class="card-body">
        <h5 class="card-title">
            Revenue <span>
                |
                @{
                    switch (Model.filter)
                    {
                        case "today":
                            <span>Today</span>
                            ;
                            break;
                        case "this_month":
                            <span>This Month</span>
                            ;
                            break;
                        case "this_year":
                            <span>This Year</span>
                            ;
                            break;
                        default:
                            <span>Today</span>
                            ;
                            break;
                    }
                }
            </span>
        </h5>

        <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                <i class="bi bi-currency-dollar"></i>
            </div>
            <div class="ps-3">
                <h6>@String.Format(new CultureInfo("vi-VN"), "{0:C0}", Model.quantity)</h6>
                @if (Model.isAsc)
                {
                    <span class="text-success small pt-1 fw-bold">@Model.percent %</span>
                    <span class="text-muted small pt-2 ps-1">increase</span>
                }
                else
                {
                    <span class="text-danger small pt-1 fw-bold">@Model.percent %</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                }

            </div>
        </div>
    </div>

</div>